[id="search-items"] {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

[src] {
  box-shadow: 0px 0px 10px white;
}
.search-bar {
  border: none;
  padding: 10px;
  border-radius: 10px;
  transition: background-color 300ms ease-in-out, color 300ms ease-in-out;
}
.search-bar:focus {
  background-color: black;
  color: white;
}
.buy-button {
  background-color: #654dff;
  color: white;
  border: none;
  border-radius: 10px;
  z-index: 0;
}
img + figcaption {
  color: green;
  transition: transform 200ms ease-in-out;
  font-family: "Courier New", Courier, monospace;
  text-align: center;
}

img + figcaption:hover {
  transform: translateY(-10px);
}

figcaption ~ div {
  background: linear-gradient(180deg, #131313 65%, #654dff 100%);
  border-radius: 10px;
}
p::first-letter {
  font-size: 150%;
  font-weight: bold;
  color: red;
}
#products {
}
